 <!DOCTYPE html>
<html lang="en">
<head>
div {
  width: 300px;
  margin: auto;
  background-color:gold;
  text-align: center;
  }
  body {
            background-color:rgb(230, 230, 250) ; /* Changes the background color of the entire page to purple */
            margin: 0; /* Remove default body margin for full coverage */
            padding: 0; /* Remove default body padding */
        }
 h1 {
            color: purple; /* Changes the text color to purple */
            text-align: center; /* Centers the text horizontally */
 }

 
 p {
 
	color: purple; /* Changes the text color to purple */
    
	}